#t1 {
	margin-top: 20px;
	margin-left:50px;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
#t1 thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
#t1 tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
	background-color: white;
}
#t1 caption  {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
	background-color:white;
}


#t2 caption  {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
	background-color: white;
}

#t2 {
	margin-top: 20px;
	margin-left:50px;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
#t2 thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
#t2 tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
	background-color: white;
}
h1{
	margin-top: 20px;
	margin-left:50px;
	text-align: center;
	font-size: 40px;
}

h3{
	margin-left:50px;
}
ul{
	margin-top: 20px;
	margin-left:50px;
	list-style: circle;
}

body {background-color: LemonChiffon  ;}